@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: rgb(168, 85, 247);
        --color-primary-light: rgb(192, 132, 252);
        --color-primary-dark: rgb(147, 51, 234);
    }
}
