:root {
    --color-primary-light: var(--color-purple-light);
    --color-primary: var(--color-purple);
    --color-primary-dark: var(--color-purple-dark);

    --color-purple-light: #c084fc;
    --color-purple: #a855f7;
    --color-purple-dark: #9333ea;

    --color-fuchsia-light: #d946ef;
    --color-fuchsia: #c026d3;
    --color-fuchsia-dark: #a21caf;

    --color-violet-light: #8b5cf6;
    --color-violet: #7c3aed;
    --color-violet-dark: #6d28d9;

    --color-teal-light: #14b8a6;
    --color-teal: #0d9488;
    --color-teal-dark: #0f766e;

    --color-lime-light: #a3e635;
    --color-lime: #84cc16;
    --color-lime-dark: #65a30d;
}
